* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}


.grid-wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;   /* IMPORTANT */
  justify-content: center;
  align-items: center;
  gap: 20px;                /* space between grid & button */
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.grid div {
  border: 1px solid lightgrey;
  width: 6.66%;
  height: 6.66%;
}
 
img {
  display: block;
  margin: 0 auto;
  width: 100px;
}

#reset {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  justify-content: flex-start;
}

.snake {
  background-color: green;
}

.apple {
  width: 100%;
  height: 100%;
}

